body {
  margin: 0;
  background-color: black;
  font-family: "Roboto Slab", sans-serif;
}

a {
  text-decoration: none;
}

.navigation {
  display: flex;
  font-size: 1.3rem;
  background-color: #333333;
  padding: 1rem;
  justify-content: center;
}

.navigation a {
  color: #ffffff;
  margin: 0 2rem;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.card {
  margin-top: 2em;
  background-color: grey;
  padding-bottom: 0.7em;
}

.card-image img {
  max-width: 600px;
}

.intro p {
  width: 600px;
  text-align: center;
}

main .photo {
  height: 400px;
  width: 600px;
  background-image: linear-gradient(
      hsla(360, 100%, 100%, 0),
      hsla(0, 0%, 20%, 1)
    ),
    url("images/marzuki.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.photo h1 {
  font-weight: 700;
  font-size: 1.8em;
  letter-spacing: 1px;
  color: #ffffff;
  margin-right: 1em;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a {
  margin: 0 1em;
}

.footer p {
  display: flex;
  justify-content: center;
  color: aliceblue;
}

.footer p span {
  margin: 0 3px;
}

.footer a {
  color: rgb(122, 180, 214);
}

.contact {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
}

.illustration img {
  max-width: 600px;
  max-height: 400px;
}

.subcard {
  display: flex;
}
