body {
  margin: 0px;
  background-color: black;
}
.navigation {
  display: flex;
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.3rem;
  background-color: #333333;
  padding: 1rem;
  justify-content: center;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 2rem;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.card {
  margin-top: 2em;
  background-color: grey;
  padding-bottom: 0.7em;
}

.intro p {
  width: 600px;
  text-align: center;
}

main .photo {
  height: 400px;
  width: 600px;
  background-image: linear-gradient(
      hsla(360, 100%, 100%, 0),
      hsla(0, 0%, 20%, 1)
    ),
    url("images/marzuki.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.photo h1 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  letter-spacing: 1px;
  color: #ffffff;
  margin-right: 1em;
}

.intro {
  font-family: "Roboto Slab", sans-serif;
  display: flex;
  justify-content: center;
  width: max-content;
}

.socialmedia {
  display: flex;
  justify-content: space-around;
}

footer p {
  display: flex;
  justify-content: center;
  color: aliceblue;
}

footer p span {
  margin: 0 3px;
}
