* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Slab", sans-serif;
}

body {
  background-color: black;
}

.navigation {
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
}

.navigation .logo {
  margin-right: auto;
  padding: 7px 20px;
}

.logo img {
  max-height: 37px;
}

.navigation a {
  color: #fff;
  display: flex;
  padding: 0.7em 1em;
  align-items: center;
  justify-content: center;
  transition: background 0.5s;
  white-space: nowrap;
}

.navigation > ul {
  display: flex;
}

.dropdown {
  display: none;
}

.navigation li:hover .dropdown {
  display: block;
  position: absolute;
}

.navigation a:hover {
  background-color: rgb(80, 73, 80);
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.card {
  margin-top: 2em;
  background-color: white;
  padding-bottom: 0.7em;
  border-radius: 1rem;
}

.card-image img {
  max-width: 600px;
}

.intro p {
  width: 600px;
  text-align: center;
}

main .photo {
  height: 400px;
  width: 600px;
  background-image: linear-gradient(
      hsla(360, 100%, 100%, 0),
      hsla(0, 0%, 20%, 1)
    ),
    url("images/marzuki.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.photo h1 {
  font-weight: 700;
  font-size: 1.8em;
  letter-spacing: 1px;
  color: #ffffff;
  margin-right: 1em;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a {
  margin: 0 1em;
}

.footer p {
  display: flex;
  justify-content: center;
  color: aliceblue;
}

.footer p span {
  margin: 0 3px;
}

.footer a {
  color: rgb(122, 180, 214);
}

.contact {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
}

.illustration img {
  max-width: 600px;
  max-height: 400px;
}

.subcard {
  display: flex;
  margin: 1rem;
}

.subcard > * {
  margin: 1em;
}

input,
textarea {
  font-size: 1.2em;
  padding: 5px;
  font-family: inherit;
  margin: 2px;
  width: 100%;
  border: 2px solid #333;
  border-radius: 2px;
}

textarea {
  resize: vertical;
}

fieldset {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
